Screen {
	background: #0d0d0d;
}

Input {
	border: none;
	background: transparent;
	color: #ffffff;
}

Input:focus {
	border: none;
	border-bottom: solid cyan;
}

RichLog {
	background: transparent;
	border: none;
}

RichLog:focus {
	border: none;
}

RichLog .scrollbar--vertical {
	background: #333333;
}

Footer {
	background: transparent;
	border: none;
	color: #666666;
}
